/* ==== GENERAL STYLES ==== */
* {
    box-sizing: border-box;
}
/* Single-direction margin declaration to establish vertical rhythm. */
h1, h2, h3, 
ul, 
p, span, 
img {
    margin-bottom: 1.5rem;
}
body {
    background: url('assets/háttérkép.jpg') repeat center;
    color: #011d0f;
    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5rem;
}
.introduction, .services, .software-knowledge, .prices, .contact {
    width: 95%;
    margin: 1.5rem auto;
    padding: 1rem;
    text-align: center;
}
h1 {
    font-family: 'Lobster', cursive;
    font-size: 3rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    line-height: 1em;
    font-style: italic;
    color: #d4a43b;
}
h2 {
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    line-height: 2rem;
    font-style: italic;
    color: #d4a43b;
}
h3 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 700;
    font-style: italic;
}
strong {
    text-transform: uppercase;
}
ul {
    text-align: left;
    list-style-type: circle;
    padding-left: 1rem;
}
li {
    margin-top: 0;
    margin-bottom: 1.2rem;
}
a {
    text-decoration: none;
    color: #996d0e;
}
a:hover {
    color: #d4a43b;
    transition: color .15s ease-in-out;
}
/* ==== HEADER STYLES ==== */
.cover {
    background: url('assets/DSC_3645.jpg') no-repeat center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    text-align: center;
    display: table;
  }
  .wrapper {
    display: table-cell;
    vertical-align: middle;
}
.hero-text {
    background-color: hsla(100,0%,0%,.6);
    margin-top: 12rem;
    padding: 1.5rem;
    color: #8ae59e;
}
header h2 {
    font-size: 1.5rem;
    color: #8ae59e;
}
header .tagline {
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: .15rem;
    text-transform: uppercase;
    font-weight: 700;
 }
 .tagline::after {
    display: block;
    content:"";
    background-color: #8ae59e;
    height: .1rem;
    width: 33vw;
    margin: 1.2rem auto;
}
h1::after {
    display: block;
    content:"";
    background-color: #8ae59e;
    height: .1rem;
    width: 33vw;
    margin: 1.2rem auto;
}

@media (min-width: 480px) {
 
    .cover {
        background: url('assets/DSC_3645.jpg') no-repeat;
        background-size: contain;
        background-position: top;
        position: relative;
        background-color: hsla(100,0%,0%,.6);    
    }
    h1 {
        font-size: 4rem;
    }
    header h2 {
        font-size: 2rem;
    }

}

/* ==== INTRODUCTION STYLES ==== */
.introduction {
    padding-bottom: 0;
}
.introduction h2{
    color: #996d0e;
}
#first-paragraph {
    font-size: 1.3rem;
    font-weight: 700;
}
.introduction p::after {
    display: block;
    content:"";
    background-color: #996d0e;
    height: .1875rem;
    width: 33vw;
    margin: 2rem auto;
}

@media (min-width: 480px) {
     .introduction ul {
        margin-left: 10vw;
    }
    
}
/* ==== SERVICES STYLES ==== */
.services {
    background-color: hsla(100,0%,0%,.6);
    width: 100%;
    color: #8ae59e;
    padding-left: 2.5rem;
    padding-top: 2rem;
}
#services-list::after {
    display: block;
    content:"";
    background-color: #d4a43b;
    height: .1875rem;
    width: 33vw;
    margin: 2rem auto;
}
@media (min-width: 480px) {
    #services-list, #no-list {
       margin-left: 10vw;
   }
   #services-list::after {
    display: block;
    content:"";
    background-color: #d4a43b;
    height: .1875rem;
    width: 33vw;
    margin: 2rem auto;
    margin-left: 10vw;
}
   
}
/* ==== SOFTWARE-KNOWLEDGE STYLES ==== */
.software-knowledge h2 {
    color: #996d0e;
}
.software-knowledge img {
    width: 75vw;
    max-width: 800px;
}
.software-knowledge p {
    font-weight: 700;
    margin-bottom: 0;
}
/* ==== PRICES STYLES ==== */
.prices {
    background-color: hsla(100,0%,0%,.6);
    width: 100%;
    color: #8ae59e;
    padding-left: 2.5rem;
    padding-top: 2rem;
}
.price {
    font-size: 1.3rem;
    font-weight: 700;
    color:#d4a43b;
}
.hourly-fee {
    font-size: smaller;
}
.prices span {
    font-size: smaller;
}
.price-group::after {
    display: block;
    content:"";
    background-color: #d4a43b;
    height: .1875rem;
    width: 33vw;
    margin: 2rem auto;
}
@media (min-width: 768px) {

    .price-group {
        display: inline-block;
        width: 22%;
        height: 100%;
        padding: 1rem;
        margin: .5rem;
        vertical-align: top; 
    }
    .price-group::after {
        display: none;
    }

}
/* ==== CONTACT STYLES ==== */
.contact h2 {
    color: #996d0e
}
#contact-list {
    text-align: center;
}
.contact li {
    list-style-type: none;
    display: inline;
    margin: 0.5rem;
  }
/* ==== FOOTER STYLES ==== */
footer {
    width: 100vw;
    height: 10vh;
    display: table;
    background-color: #9aad7b;
    text-align: center;
    font-size: small;
    color: black;
}
.footer-wrapper {
    display: table-cell;
    vertical-align: middle;
}


